.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background: linear-gradient(to top, #0F2D02, #FCFCFA);
}

.King {
  height: 45vmin;
  width: 75vmin;
  margin-bottom: 5vh;


  .body {
    width: 60%;
    height: 100%;
    position: absolute;
    left: 25%;
    background: #B18F67;
    border-bottom-left-radius: 10% 20%; 
    border-top-left-radius: 100%; 

    .head {
      position: absolute;
      height: 50%;
      width: 51%;
      right: -3%;
      top: -35%;
      border-bottom-left-radius: 50%; 

      &:before {
        background: #c3a489;
        width: 100%;
        height: 100%;
        border-top-left-radius: 50% 45%;
        border-top-right-radius: 50% 40%;
        border-bottom-right-radius: 30% 75%;
        border-bottom-left-radius: 25%;
        z-index: 2;
      }

      .ear {
        top: -20%;
        left: -20%;
        width: 57%;
        height: 42%;
        background: #2b211a;
        border-bottom-left-radius: 100% 80%;
        border-top-left-radius: 100% 50%;
        transform: rotate(65deg);
        overflow: hidden;
        &:nth-of-type(2) {
          left: 55%;
          top: -70%;
          transform: rotate(-80deg) scaleX(-1);
          &:after {
            left: 33%;
          }
        }

        &:after {
          background: #916d5c;
          height: 65%;
          width: 60%;
          position: relative;
          top: 25%;
          left: 40%;
          border-bottom-left-radius: 100%;
          transform: rotate(-8deg);
        }
      }
      .face {
        background: #211d1b;
        width: 82%;
        height: 80%;
        position: relative;
        bottom: 60%;
        z-index: 3;
        border-top-left-radius: 15%;
        border-top-right-radius: 50% 25%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 28%;

        .eye {
          display: inline-block;
          background: #585041;
          position: relative;
          width: 12%;
          height: 12%;
          border-radius: 50%;
          top: 2.5vmin;
          left: 8%;

          &:nth-of-type(2) {
            left: 60%;
          }

          &:before {
            position: absolute;
            background: black;
            width: 180%;
            height: 100%;
            z-index: -1;
            left: -40%;
            border-radius: 125%; 


          }
          &:after {
            background: black;
            width: 70%;
            height: 70%;
            border-radius: 50%;
            left: 10%;
            top: 14%;

          }
        }

        .nose {
          background: #383B44;
          height: 23%;
          width: 23%;
          left: 32%;
          top: 25%;
          border-top-left-radius: 25% 25%;
          border-top-right-radius: 35% 25%;
          border-bottom-right-radius: 55% 90%;
          border-bottom-left-radius: 50% 90%;
        }

        .mouth {
          width: 50%;
          height: 50%;
          top: 15%;
          left: 18%;
          overflow: hidden;

          &:before, &:after {
            width: 70%;
            background: grey;
            height: 3%;
            top: 70%;
            transform: rotate(45deg);
          }

          &:before {
            transform: rotate(-45deg);
            left: -10%;
          }

          &:after {
            left: 40%;
          }
        }
      }
    }
  }

  .harness {
    background: #191209;
    position: absolute;
    width: 60%;
    height: 60%;
    right: 0;
    top: 5%;
    border-top-left-radius: 50% 50%;
    border-bottom-left-radius: 175%;
    // border-bottom-right-radius: 75%;

  }
}
